name: Airbnb CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Check Style
        run: mvn git-code-format:validate-code-format
      - name: Unit tests
        run: mvn test && mvn jacoco:report
